<launch>

  <!-- i2c_pwm control node -->
  <include file="$(find i2cpwm_board)/launch/i2cpwm_node.launch" />

  <!-- Foxglove Bridge -->
  <include file="$(find foxglove_bridge)/ros1_foxglove_bridge/launch/foxglove_bridge.launch"/>
    <arg name="port" value="8765"/>

  <!-- Joystick input node -->
  <node name="joystick" pkg="joy" type="joy_node" />

  <!-- Collision Detection Node (DepthAI Oak Camera Module)-->
  <node pkg="dog_chaser" name="collision_detection" type="depthai_node.py" output="screen" />

  <!-- Car Control Node -->
  <!-- <node pkg="dog_chaser" name="dog_chaser" type="dog_chaser_node.py" output="screen" /> -->

</launch>