<launch>

  <!-- i2c_pwm control node -->
  <include file="$(find i2cpwm_board)/launch/i2cpwm_node.launch" />

  <!-- Foxglove Bridge -->
  <include file="$(find foxglove_bridge)/ros1_foxglove_bridge/launch/foxglove_bridge.launch"/>
    <arg name="port" value="8765"/>

  <!-- YoloV4 Node -->
  <include file="$(find depthai_examples)/launch/yolov4_publisher.launch" />

  <!-- Joystick input node -->
  <node name="joystick" pkg="joy" type="joy_node" />

  <!-- Sonar Node -->
  <node pkg="dog_chaser" name="sonar" type="sonar_array.py" output="screen" />

  <!-- Depthai Node -->
  <!-- <node pkg="depthai_python" name="depthai" type="depthai_python.py" output="screen" -->

  <!-- Car Control Node -->
  <node pkg="dog_chaser" name="dog_chaser" type="dog_chaser.py" output="screen" />

</launch>